.tra_loi{
    background-color: rgba(0, 0, 0, 0.05);
    padding-top: 10px;
    padding-left: 30px;
}

.btn6{
   border: 1px solid white;
    background-color: red;
    padding: 7px;
    width: 130px;
    font-size: 15px;
}

.btn6:hover{
    background-color: rgb(134, 19, 19);
}